/*
Sam Glusker
IntroCS pd02 sec02
HW05 -- Stuylin'/HTML/using CSS to update our html pages
2021-02-10
*/

h1 {
	background-color: blue; /* sets the background color of all h1 headings to blue */
}

p {
  color: red;		/* sets the font color of all "p" body text to red */
  font-size: 12;	/* sets the font size of all "p" body text to 12px */
}


